* {
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

/* header section style start here */
header {
    background-color: #E554731A;
}

.head-section {
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    gap: 40px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
}

.header-description {
    margin: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.header-btn {
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
}

.header-img {
    padding-top: 28px;
    width: 500px;
    height: 600px;
}

/* main section styel start here */

/* feature section style start here */
.feature-section{
    margin: 60px 0px;
    text-align: center;
}
.feature-title{
    font-size: 35px;
    margin-bottom: 18px;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
}
.feature-flowers{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 10px;
}
.featu-flower-1{
    background-color: #A7216226;
    padding: 50px 50px 0 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.featu-flower-2{
    background-color: #0597A026;
    padding: 50px 50px 0 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.featu-flower-3{
    background-color: #477D1126;
    padding: 50px 50px 0 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.featu-des{
    margin-top: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: rgba(39, 39, 39, 0.9);
}

/* this is collect section style start here */
.flower-collect{
    width: 80%;
    display: flex;
    margin: auto;
    background-color: #2727270D;
    text-align: center;
    padding: 50px 0px;
    justify-content: space-around;
    margin-bottom: 60px;
    border-radius: 8px;
}

.flower-collect > div > p{
    margin: 20px;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);
}

/* this is hot deal section style start here */

.hot-deal-section{
    background-color: #E554730D;
    height: 80vh;
    margin-bottom: 60px;
}

.hot-deal{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
    gap: 70px;
}
.hot-deat-title{
    font-size: 35px;
}
.off-color{
    color: #E55473;
}
.hot-deal-description{
    margin: 20px;
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);
}
.sign-up-btn{
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
}
.hot-deal-img{
    margin-top: 40px;
    width: 310px;
    height: 420px;
    padding-left: 70px;
}


/* this is quality product style start here */
.our-products{
    margin-bottom: 70px;
    text-align: center;
}
.product-title{
    font-size: 35px;
    margin-bottom: 18px;
}
.product-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}



/* this is instagram section style here */
.instagram-section{
    text-align: center;
}
.instagram-title{
    font-size: 35px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 35px;
}
.instagram-flower{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 5px;
    margin-bottom: 80px;
}
.instagram-flower>img{
    width: 260px;
    height: 310px;
}

/* hot deals */
.letest-deals{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    width: 80%;
    background-size: cover;
    margin: auto;
    margin-bottom: 80px;
}
.letest-deals>div{
    padding: 100px 70px;
    align-items: center;
    text-align: center;
}

.letest-title{
    font-size: 35px;
}
.letest-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}
.letest-email{
    border-radius: 8px;
    background: white;
    width: 400px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
    padding-left: 25px;
}
.latest-btn{
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

/* this is footer style start here */

.footer-section{
    background-color: #111010;
    color: white;
    text-align: center;
    height: 40vh;
    align-items: center;
    padding-top: 60px;
}
.footer-section>h1{
    font-size: 30px;
    margin: 20px;
}
.flower{
    color: #E55473;
}
.footer-section>p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-section>small{
    color: gray;
}
